@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

p {
  text-align: left;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  color: #f6f6f6;
  margin: 0;
}

.top {
  padding-top: 10rem;
}

.top-2 {
  padding-top: 8rem;
}

@media (max-width: 900px) {
  .top-2 {
    padding-top: 6rem;
  }
}

.title {
  font-weight: 500;
  color: #f6f6f6;
  margin-bottom: 3rem;
  text-align: center;
  font-size: 1.75rem;
}

@media (min-width: 900px) {
  .title {
    text-align: left;
  }
}

.sub-title-1 {
  color: rgba(255, 255, 255, 0.6705882353);
  line-height: 1.375;
  margin-bottom: 5px;
}

@media (max-width: 900px) {
  .text-center {
    text-align: center;
  }
}

@media (max-width: 760px) {
  .text-center-2 {
    text-align: center;
  }
}

@media (min-width: 900px) {
  .lar-text {
    max-width: 57%;
    align-items: flex-start;
  }
}

@media (max-width: 900px) {
  .max-text {
    max-width: 400px;
    text-align: center;
  }
}

.button-main,
.button-main--third,
.button-main--secondary,
.button-main--primary {
  height: 3rem;
  font-size: 16px;
  margin-bottom: 1rem;
  margin-top: 2rem;
  border: 0px;
  padding: 10px;
  border-radius: 0.5rem;
  background: #f72828;
  color: #f6f6f6;
  min-width: 7rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button-main:hover,
.button-main--third:hover,
.button-main--secondary:hover,
.button-main--primary:hover {
  background: #b92222;
}

.button-main--primary {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 10rem;
  gap: 5px;
  text-decoration: none;
  background: #f72828;
  margin-top: 1rem;
  color: #f6f6f6;
}

.button-main--secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: rgb(47, 46, 52);
  padding: 10px;
  margin-top: 1rem;
  min-width: 8.1rem;
  color: #f6f6f6;
  text-decoration: none;
}

.button-main--secondary:hover {
  background: #f6f6f6;
  color: rgb(47, 46, 52);
}

.button-main--third {
  height: 3rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  width: 9rem;
  background: #f72828;
  color: rgba(255, 255, 255, 0.6705882353);
}

/* Chrome, Safari e Opera */
::-webkit-scrollbar {
  width: 10px;
  background-color: #f6f6f6;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #f72828;
  border-radius: 20px;
}

/* Firefox */
::-moz-scrollbar {
  width: 10px;
  background-color: #f6f6f6;
  border-radius: 20px;
}

::-moz-scrollbar-thumb {
  background-color: #f72828;
  border-radius: 20px;
}

/* Edge e IE */
::-ms-scrollbar {
  width: 10px;
  background-color: #f6f6f6;
  border-radius: 20px;
}

::-ms-scrollbar-thumb {
  background-color: #f72828;
  border-radius: 20px;
}

.bg_container {
  position: absolute;
  top: 0px;
  height: 3507px;
  left: 0px;
  z-index: -1;
  width: 100%;
  overflow: hidden;
}

@media (min-width: 900px) {
  .bg_content {
    margin: 0px auto;
    width: 1000px;
  }
}

@media screen and (max-width: 900px) {
  .bg_container {
    height: 4004px;
  }
}

@media (min-width: 360px) and (max-width: 394px) {
  .bg_container {
    height: 4393px;
  }
}

@media (min-width: 412px) and (max-width: 540px) {
  .bg_container {
    height: 4344px;
  }
}

@media (max-width: 820px) {
  .bg_container {
    height: 4187px;
  }
}

@media (max-width: 613px) {
  .bg_container {
    height: 4217px;
  }
}

@media (max-width: 566px) {
  .bg_container {
    height: 4353px;
  }
}

@media (max-width: 425px) {
  .bg_container {
    height: 4465px;
  }
}

@media (max-width: 330px) {
  .bg_container {
    height: 4546px;
  }
}

@media (min-width: 768px) and (max-width: 820px) {
  .bg_container {
    height: 4027px;
  }
}

.bg_content {
  position: absolute;
  top: 0px;
  left: 40%;
}

.blob {
  background-image: url("../img/bg/blob.svg");
  background-repeat: no-repeat;
  position: absolute;
}

.blob_1 {
  left: -600px;
  top: -878px;
  left: -2538px;
  width: 4900px;
  height: 4900px;
}

.blob_2 {
  width: 700px;
  height: 700px;
  top: -86px;
  left: 50px;
}

.blob_3_opc {
  background-image: url("../img/bg/blob_2.svg");
  width: 300px;
  height: 300px;
  top: 100px;
  left: -160px;
}

.blob_4 {
  width: 1200px;
  height: 1200px;
  top: 100px;
  left: 100px;
}

.blob_5_opc {
  background-image: url("../img/bg/blob_2.svg");
  width: 400px;
  height: 400px;
  top: 400px;
  left: -160px;
}

.blob_6 {
  width: 750px;
  height: 750px;
  top: 1100px;
  left: 50px;
}

.blob_7 {
  width: 550px;
  height: 550px;
  top: 1763px;
  left: -500px;
}

.blob_8 {
  background-image: url("../img/bg/blob_secondary.svg");
  width: 25750px;
  height: 25750px;
  top: -900px;
  left: -10000px;
}

.blob_bg {
  position: absolute;
  z-index: -1;
  left: -16000px;
  top: -6106px;
  width: 40000px;
  overflow: hidden;
  fill: rgba(255, 255, 255, 0.0196078431);
}

@media (max-width: 900px) {
  .blob_bg {
    top: -5800px;
  }

  .bg_content {
    left: 85%;
  }
}

input[type=checkbox] {
  display: none;
}

.change-theme {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-inline: 10px;
}

.change-theme img {
  height: 30px;
}

.bi {
  font-size: 1.3rem;
  cursor: pointer;
}

.bi-sun {
  display: none;
}

.dark .bi-sun {
  display: block;
}

.dark .bi-moon {
  display: none;
}

.dark .button-main--secondary:hover {
  background: #151418;
  color: #f6f6f6;
}

.dark .blob_bg {
  fill: #f6f6f6;
}

.dark .menu {
  background-color: #f6f6f6;
}

.dark .menu .separ_button {
  color: #151418;
}

.dark .menu a {
  color: #151418;
}

.dark .menu a:hover {
  background-color: rgba(255, 255, 255, 0.6705882353);
}

.dark .menu .sub {
  color: #777779;
}

.dark .about-text h2 {
  color: #151418;
}

.dark .about-text p {
  color: #151418;
}

.dark .skills h2 {
  color: #151418;
}

.dark .question p {
  color: #777779;
}

.dark .question svg path {
  stroke: #151418;
}

.dark .answer-txt {
  color: #151418;
}

.dark .dropdown-list a {
  color: #151418;
}

.dark .project h2 {
  color: #151418;
}

.dark .project p {
  color: #777779;
}

.dark .tech-icons i {
  color: #151418;
}

.dark .swiper-pagination-bullet {
  background: #f72828;
}

.dark .contact .title {
  color: #151418;
}

.dark .contact-container p {
  color: #151418;
}

.dark .contact .left-contact,
.dark .contact .right-contact {
  background: #fff;
}

.dark footer span,
.dark footer span a {
  color: #151418;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #151418;
  color: #f6f6f6;
}

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-bounce {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.loading-bounce div {
  width: 10px;
  height: 10px;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 50%;
  animation: bounce 0.8s infinite ease-in-out;
}

@keyframes bounce {

  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}

#loading-text {
  margin-top: 16px;
  color: #fff;
  font-weight: bold;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 6rem;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(4px);
  transition: background 0.45s ease 0s;
  color: #f6f6f6;
  z-index: 7;
}

nav.scrolled-down {
  height: 6rem;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.14);
  background: rgba(0, 0, 0, 0.725);
}

.nav-container {
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  padding: 1.5rem 1rem;
  margin: 0 auto;
}

.nav-container img {
  width: 110px;
}

.nav-container i {
  font-size: 2.25rem;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

@media (max-width: 290px) {
  .nav-logo {
    font-size: 1.5rem;
  }

  .nav-container i {
    font-size: 2.25rem;
  }

  .burger {
    font-size: 2.25rem;
  }
}

.links {
  display: flex;
  gap: 16px;
  font-size: font-size-large;
}

.icon_link {
  text-decoration: none;
  color: #f6f6f6;
}

nav i:hover {
  color: #f72828;
  cursor: pointer;
}

.sub-title-main {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  color: #777779;
}

.menu {
  position: fixed;
  z-index: 9;
  top: 0;
  padding: 0.8rem;
  right: -340px;
  width: 340px;
  height: 100vh;
  background-color: rgb(47, 46, 52);
  transition: right 0.4s ease-in-out;
}

@media (max-width: 280px) {
  .menu {
    width: 240px;
  }
}

.menu.open {
  right: 0;
}

.menu .separ_button {
  text-align: end;
  font-size: 1.75rem;
  cursor: pointer;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  padding: 10px;
}

.menu ul li:last-child {
  border-bottom: none;
}

.menu ul li a i {
  margin-right: 5px;
}

.menu li {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menu i:hover {
  color: #f72828;
}

.menu a {
  display: inline-block;
  font-size: 1.3rem;
  padding: 10px;
  text-decoration: none;
  color: #f6f6f6;
  transition: background-color 0.3s ease;
}

.menu a:hover {
  background-color: rgb(41, 40, 45);
  border-radius: 5px;
}

.menu .sub {
  margin-top: 10px;
  padding: 10px;
}

#overlay {
  position: fixed;
  z-index: 7;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.container-main {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  max-width: 900px;
  padding: 1.5rem 1rem;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .container-main {
    flex-direction: column;
    gap: 30px;
  }
}

.txt-main {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-direction: column;
}

@media (min-width: 900px) {
  .txt-main {
    align-items: flex-start;
  }
}

.title-main {
  font-size: 2.875rem;
  line-height: 1;
  margin-bottom: 0.5rem;
}

main .main-img {
  height: 250px;
  width: 250px;
  flex: 1 1 auto;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.scroll {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 900px;
  padding: 2.5rem 0.5rem;
  margin: 0 auto;
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

@media (max-width: 900px) {
  .scroll {
    justify-content: center;
  }
}

.scroll span {
  font-size: 1.25rem;
  margin-left: 0.5rem;
}

.scroll-img {
  height: 3rem;
}

.about {
  max-width: 900px;
  padding: 1.5rem 1rem;
  margin: 0 auto;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

@media (max-width: 900px) {
  .about-container {
    flex-direction: column;
  }

  .align-btn-download {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.about-container img {
  max-width: 340px;
}

@media (max-width: 350px) {
  .about-container img {
    max-width: 250px;
  }
}

.about-text {
  max-width: 400px;
}

.about-text h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  line-height: 1.175;
}

.skills {
  max-width: 900px;
  padding: 1.5rem 1rem;
  margin: 0 auto;
}

.dropdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-list {
  display: flex;
  flex-direction: column;
  padding-bottom: 6rem;
  padding-top: 3rem;
}

.dropdown-list a {
  color: #f6f6f6;
  padding-top: 3rem;
  text-align: right;
}

@media (min-width: 900px) {
  .faq-separ {
    display: flex;
    gap: 3rem;
  }
}

.txt-faq {
  color: #f6f6f6;
  font-size: 2.5rem;
}

.faq {
  max-width: 400px;
  margin-top: 0.5rem;
  padding: 1rem 0;
  cursor: pointer;
  border-radius: 4px;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

@media (min-width: 415px) {
  .question {
    width: 23rem;
  }
}

.question svg path {
  stroke: #f6f6f6;
}

.question h2 {
  font-size: 1.3rem;
  color: #f6f6f6;
}

.question-separ {
  display: flex;
  gap: 15px;
  align-items: center;
}

.question-separ i {
  font-size: 2.5rem;
  color: #f72828;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}

.answer-drop {
  display: flex;
  align-items: center;
  margin-left: 55px;
  gap: 5px;
  font-size: 1.3rem;
  margin-top: 10px;
}

.answer-top {
  margin-top: 35px;
}

.answer-drop i {
  color: #f72828;
  font-size: 2rem;
}

.answer .answer-txt p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.3rem;
}

.answer-txt {
  color: #f6f6f6;
}

.photoshop-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-image: url("../img/icons/photoshop.svg");
  background-size: cover;
}

.faq.active svg {
  transform: rotate(180deg);
}

svg {
  transition: transform 0.1 ease-in;
}

.faq.active .answer {
  max-height: 300px;
  animation: fade 0.1s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translate(-10);
  }

  to {
    opacity: 1;
    transform: translate(0px);
  }
}

.projects {
  max-width: 900px;
  padding: 1.5rem 1rem;
  margin: 0 auto;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-portifolio-icon {
  font-size: 2.5rem;
  color: #f72828;
}

.swiper-button-prev,
.swiper-button-next {
  outline: none;
}

.swiper-pagination-bullet {
  background: #f72828;
}

.slider-container {
  overflow: hidden;
}

.slide-content {
  display: flex;
  align-items: center;
  padding: 60px;
  gap: 40px;
}

@media (max-width: 760px) {
  .slide-content {
    flex-direction: column;
    gap: 20px;
  }

  .slide-text {
    max-width: 265px;
  }

  .portifolio_img {
    max-width: 270px;
  }
}

@media (min-width: 760px) {
  .slide-text {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.slide-text h2 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.175;
}

@media (max-width: 300px) {
  .portifolio_img {
    max-width: 230px;
  }

  .slide-text p {
    width: 200px;
    margin: auto;
  }
}

.btn-sliders {
  display: flex;
  gap: 0.5rem;
}

@media (max-width: 760px) {
  .btn-sliders {
    justify-content: center;
  }
}

@media (max-width: 320px) {
  .btn-sliders a {
    min-width: 0;
  }
}

.button-slider i {
  display: inline-block;
  font-weight: 600;
  transition: transform 0.3s ease;
}

.button-slider:hover i {
  transform: translateX(3px);
}

.portifolio_img {
  width: 320px;
  border-radius: 0.5rem;
}

.tech-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5rem;
  padding: 5px;
  gap: 2px;
}

.tech-icons i:hover {
  color: #f72828;
  font-size: calc(1.5rem + 1px);
  transition: ease-in 0.1s;
}

@media (max-width: 760px) {
  .tech-icons {
    justify-content: center;
  }
}

.swiper-pagination {
  font-size: 1.5rem;
}

.swiper-pagination,
.swiper-button-prev,
.swiper-button-next {
  color: #f72828;
}

.swiper-button-prev {
  left: -0.5rem;
}

.swiper-button-next {
  right: -0.5rem;
}

.contact {
  max-width: 900px;
  padding: 1.5rem 1rem;
  margin: 0 auto;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 100px 0;
}

.contact-container a {
  text-decoration: none;
  color: #f6f6f6;
}

.link-contact:hover {
  color: #f72828;
}

.contact-container p {
  text-align: center;
}

.contact-container h2 {
  font-size: 1.5rem;
  color: #777779;
}

.contact-container i {
  font-size: 2.5rem;
  color: #f72828;
}

.contact .left-contact,
.contact .right-contact {
  padding: 20px;
  background: rgb(47, 46, 52);
  border-radius: 5px;
  text-align: center;
  width: 450px;
  font-size: 1.3rem;
  flex: 1 0 100px;
}

.contact .right-contact {
  padding: 30px;
}

@media (max-width: 335px) {

  .contact .left-contact,
  .contact .right-contact {
    font-size: 16px;
  }
}

footer {
  color: #f6f6f6;
  margin-bottom: 5rem !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  padding: 1.5rem 1rem;
  margin: 0 auto;
}

@media (max-width: 770px) {
  footer {
    margin-top: 4px !important;
    justify-content: space-between;
  }
}

@media (max-width: 415px) {
  footer span {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

footer span a {
  color: #f6f6f6;
  text-decoration: none;
}

footer span a:hover {
  color: #f72828;
}

/*# sourceMappingURL=styles.css.map */