// Cores
$main-color: #f72828;
$title-2: #777779;
$primary-color: #f6f6f6;
$secondary-color: #ffffffab;
$dark-color: #151418;
$bg-secondary: rgb(47, 46, 52);
$hover-color-main: #b92222;

// Fonts
$font-size-base: 16px; // tamanho de fonte base
$font-size-main: 2.875rem;
$font-size-main-scroll: 1.25rem; 
$font-size-nav-icon: 2.25rem; 
$font-size-small: 0.875rem; 
$font-size-small-2: 1.125rem; 
$font-size-medium: 1.3rem; 
$font-size-large: 1.5rem; 
$font-size-title-2: 1.5rem; 
$font-size-title: 1.75rem; 
$font-size-icon-medium: 2rem;
$font-size-icon-large: 2.5rem;

// Largura maxima do container
$container-width: 900px;

// Botão
$button-height: 3rem;
$button-font-size: $font-size-base;
$button-padding: 10px;
$button-border-radius: 0.5rem;
$button-min-width: 7rem;